{% extends 'layout.html.twig' %}

{% block page_head_title %}vote | popcorn.sipgate.net{%endblock %}
{% block page_head_description %}Popcorn-Abende bei sipgate - Vote{%endblock %}
{% block page_head_keywords %}sipgate,kino,film,popcorn{%endblock %}
{% block page_head_og_title %}vote | popcorn.sipgate.net{% endblock %}
{% block page_head_og_image %}{% endblock %}
{% block page_head_og_description %}Popcorn-Abende bei sipgate - Vote{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			{% if success %}
				<div class="alert alert-success">Danke! Wir k체mmern uns... :-)</div>
			{% endif %}
			<hr />
			<div class="text-center">
				<h1>
					N채chster Kinoabend:<br />
					{% set weekdays = ["Sonntag","Montag","Dienstag","Mittwoch","Donnerstag","Freitag","Samstag"] %}
					{% if nextDate|date("d.m.Y") == now|date("d.m.Y") %}
						<strong class="red">HEUTE, 19:00 Uhr!</strong>
					{% else %}
						<strong>{{ attribute(weekdays,nextDate|date("w")) }}, {{ nextDate|date("d.m.Y") }}, 19:00 Uhr</strong>
					{% endif %}
				</h1>
			</div>
			<hr />
			{% if nextDate|date("d.m.Y") == now|date("d.m.Y") %}
				<div class="row">
					<div class="col-xs-12 col-md-6 col-md-offset-3">
						<h3 class="text-center">Die Top 10 f체r heute - noch geht alles!</h3>
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>Titel</th>
									<th>Jahr</th>
								</tr>
							</thead>
							<tbody>
							{% for movie in top10movies %}
								<tr id="movierow_{{ movie.id }}">
									<td>
										<a href="http://www.imdb.com/title/{{ movie.imdb_id }}/" target="_blank">{{ movie.title }}</a>
									</td>
									<td>{{ movie.year }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<hr />
			{% endif %}
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Titel</th>
						<th>Jahr</th>
						<th class="text-center">F*CK YEAH!</th>
						<th class="text-center">YEAH!</th>
						<th class="text-center">meh.</th>
						<th class="text-center">NOPE!</th>
						<th class="text-center">HELL NO!</th>
					</tr>
				</thead>
				<tbody>
				{% for movie in movies %}
					<tr id="movierow_{{ movie.id }}">
						<td>
							<a href="http://www.imdb.com/title/{{ movie.imdb_id }}/" target="_blank">{{ movie.title }}</a>
							{% if movie.timestamp|date("U") > (now|date("U") - 604800) %}
								<img src="/img/new.png" alt="NEW!" />
							{% endif %}
						</td>
						<td>{{ movie.year }}</td>
						<td class="text-center">
							<input type="radio" name="movie_{{ movie.id }}" data-movie="{{ movie.id }}" value="2"{% if attribute(votes,movie.id) == 2 %} checked{% endif %}>
						</td>
						<td class="text-center">
							<input type="radio" name="movie_{{ movie.id }}" data-movie="{{ movie.id }}" value="1"{% if attribute(votes,movie.id) == 1 %} checked{% endif %}>
						</td>
						<td class="text-center">
							<input type="radio" name="movie_{{ movie.id }}" data-movie="{{ movie.id }}" value="0"{% if not attribute(votes,movie.id) or attribute(votes,movie.id) == 0 %} checked{% endif %}>
						</td>
						<td class="text-center">
							<input type="radio" name="movie_{{ movie.id }}" data-movie="{{ movie.id }}" value="-1"{% if attribute(votes,movie.id) == -1 %} checked{% endif %}>
						</td>
						<td class="text-center">
							<input type="radio" name="movie_{{ movie.id }}" data-movie="{{ movie.id }}" value="-2"{% if attribute(votes,movie.id) == -2 %} checked{% endif %}>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<div class="text-center">
				<form class="form" method="post" action="/vote/suggest">
					<div class="form-group">
						<label for="link">Dein Wunschfilm ist nicht dabei? Kein Problem, einfach IMDb-Link hier einf체gen:</label>
						<input type="text" class="form-control" name="link" />
					</div>
					<button class="btn btn-default" type="submit">Absenden</button>
				</form>
			</div>
		</div>
	</div>
	<hr />
{% endblock %}
{% block js %}
	<script src="/js/vote.js"></script>
{% endblock %}
