{#
TODO:
- Sortierbarkeit der Liste nach Name/Jahr
- Top10-Filme immer Anzeigen, aber "anonymisiert" (d.h. Filmtitel nicht ausschreiben)
#}

{% extends 'layout.html.twig' %}

{% block page_head_title %}vote | popcorn.sipgate.net{%endblock %}
{% block page_head_description %}Popcorn-Abende bei sipgate - Vote{%endblock %}
{% block page_head_keywords %}sipgate,kino,film,popcorn{%endblock %}
{% block page_head_og_title %}vote | popcorn.sipgate.net{% endblock %}
{% block page_head_og_image %}{% endblock %}
{% block page_head_og_description %}Popcorn-Abende bei sipgate - Vote{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			{% if success %}
				<div class="alert alert-success">Danke! Wir kümmern uns... :-)</div>
				<hr />
			{% endif %}
			{% if error %}
				<div class="alert alert-danger">Leere Vorschläge nehmen wir ja grundsätzlich nicht an. ;-)</div>
				<hr />
			{% endif %}
			{% if voteEndDate|date("d.m.Y") == now|date("d.m.Y") and now|date("H") > 16 %}
				<div class="alert alert-success">Die Abstimmung ist bereits geschlossen. :-(</div>
			{% else %}
				<div class="alert alert-warning hidden visible-portrait visible-xs">
					Bitte drehe dein Handy, um die Abstimmungstabelle nutzen zu können.
				</div>
				<p class="hidden-portrait">Keine Sorge: Deine Abstimmung wird bei einem Klick auf eine Wertung sofort gespeichert. Du musst nirgends auf "Speichern" o.Ä. klicken!<br />Du kannst deine Wertungen jederzeit verändern!</p>
				<nav class="filter hidden-portrait text-center">
					<ul class="pagination">
						<li class="active"><a href="javascript:" class="filterLetter" data-letter="all">Alle</a></li>
						<li><a href="javascript:" class="filterLetter" data-letter="other">#!?$</a></li>
						{% set oldLetter = "" %}
						{% for movie in movies %}
							{% set currentLetter = movie.title|slice(0,1)|capitalize %}
							{% if currentLetter in ["0","1","2","3","4","5","6","7","8","9","A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z","Ä","Ö","Ü"] %}
								{% if currentLetter in ["0","1","2","3","4","5","6","7","8","9"] %}
									{% set currentLetter = "0-9" %}
								{% endif %}
								{% if oldLetter != currentLetter %}
									{% set oldLetter = currentLetter %}
									<li><a href="javascript:" class="filterLetter" data-letter="{{ oldLetter }}">{{ oldLetter }}</a></li>
								{% endif %}
							{% endif %}
						{% endfor %}
						<li><a href="javascript:" class="filterLetter" data-letter="new">Neue Filme</a></li>
						<li><a href="javascript:" class="filterLetter" data-letter="meh">Neutral bewertete Filme</a></li>
					</ul>
				</nav>
				<table class="table table-striped table-hover hidden-portrait">
					<thead>
						<tr>
							<th width="40%">Titel</th>
							<th width="10%">Jahr</th>
							<th class="text-center" width="10%">F*CK YEAH!</th>
							<th class="text-center" width="10%">YEAH!</th>
							<th class="text-center" width="10%">meh.</th>
							<th class="text-center" width="10%">NOPE!</th>
							<th class="text-center" width="10%">HELL NO!</th>
						</tr>
					</thead>
					<tbody>
					{% for movie in movies %}
						{% set firstLetter = movie.title|slice(0,1)|capitalize %}
						{% if firstLetter in ["0","1","2","3","4","5","6","7","8","9"] %}
							{% set firstLetter = "0-9" %}
						{% endif %}
						{% if firstLetter not in ["0-9","A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z","Ä","Ö","Ü"] %}
							{% set firstLetter = "other" %}
						{% endif %}
						<tr id="movierow_{{ movie.id }}" class="movierow firstletter_{{ firstLetter }}{% if movie.timestamp|date("U") > (now|date("U") - 172800) %} newmovie{% endif %}">
							<td>
								<a href="http://www.imdb.com/title/{{ movie.imdb_id }}/" target="_blank"{% if movie.active == 0 %} class="movie_inactive"{% endif %}>{{ movie.title }}</a>
								{% if movie.timestamp|date("U") > (now|date("U") - 172800) %}
									{# newer than 2 days #}
									<img src="/img/new.png" alt="NEW!" />
								{% endif %}
							</td>
							<td>{{ movie.year }}</td>
							{% if movie.active == 0 %}
								<td colspan="5"></td>
							{% else %}
								<td class="text-center">
									<input type="radio" name="movie_{{ movie.id }}" data-movie="{{ movie.id }}" value="2"{% if attribute(votes,movie.id) == 2 %} checked{% endif %}>
								</td>
								<td class="text-center">
									<input type="radio" name="movie_{{ movie.id }}" data-movie="{{ movie.id }}" value="1"{% if attribute(votes,movie.id) == 1 %} checked{% endif %}>
								</td>
								<td class="text-center">
									<input type="radio" class="vote_meh" name="movie_{{ movie.id }}" data-movie="{{ movie.id }}" value="0"{% if not attribute(votes,movie.id) or attribute(votes,movie.id) == 0 %} checked{% endif %}>
								</td>
								<td class="text-center">
									<input type="radio" name="movie_{{ movie.id }}" data-movie="{{ movie.id }}" value="-1"{% if attribute(votes,movie.id) == -1 %} checked{% endif %}>
								</td>
								<td class="text-center">
									<input type="radio" name="movie_{{ movie.id }}" data-movie="{{ movie.id }}" value="-2"{% if attribute(votes,movie.id) == -2 %} checked{% endif %}>
								</td>
							{% endif %}
						</tr>
					{% endfor %}
					</tbody>
				</table>
				<p class="text-center hidden-portrait">
					<button class="btn btn-default" id="fakeSaveButton">Abstimmung speichern</button>
				</p>
			{% endif %}
		</div>
	</div>
	<hr class="hidden-portrait" />
	<div class="row hidden-portrait">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<div id="suggestionAlert" class="alert alert-success hidden">Danke! Wir kümmern uns... :-)</div>
			<div id="suggestionErrorAlert" class="alert alert-danger hidden">Leere Vorschläge nehmen wir ja grundsätzlich nicht an... ;-)</div>
			<div id="suggestionErrorUrlAlert" class="alert alert-danger hidden">Das scheint keine gültige IMDb-URL zu sein...</div>
			<div class="text-center" id="suggestionForm">
				<div class="form-group">
					<label for="link">Dein Wunschfilm ist nicht dabei? Kein Problem, einfach IMDb-Link hier einfügen:</label>
					<input type="url" class="form-control" name="link" id="suggestionLink" />
				</div>
				<button class="btn btn-default" type="submit" id="suggestionButton">Vorschlag Absenden</button>
			</div>
		</div>
	</div>
	<hr />
{% endblock %}
{% block js %}
	<script src="/js/vote.js"></script>
{% endblock %}
